/*確保內容不擴張
高度100% 讓內容高度填滿視窗*/
html,
body {
    box-sizing: border-box;
    height: 100%;
}

/*定義共用色號
--blue-sky 淡藍色 登入頁輸入區背景
--blue-viole 藍紫色
--gray-slate 石灰色

--text-gray 文字灰色
*/
:root {
    --blue-sky: #EAF7FF;
    --blue-viole: rgba(57, 121, 193, 0.4);

    --gray-slate: #B5AEAE;

    --text-gray: #827D7D;
    /*按鈕*/
    --submitbtn: #0B78FF;
    --submitbtn: #0b57d0;
    /* --secondary-bg-color: #FFD700; */
    /* --text-color: #333333; */
}

.btn {
    width: 90px;
    height: 50px;
    background-color: var(--submitbtn);
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 10px;
    border: 0px;
    font-weight: bolder;
}