<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignFlow</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    @if (ViewData["CustomCss"] != null)
    {
        <link rel="stylesheet" href="@ViewData["CustomCss"]" asp-append-version="true" />
    }

</head>

<body>
    <header>
        <a asp-controller="Drafts" asp-action="Index">
            <img src="~/img/logo5.gif" alt="">
        </a>
        <div id="bellbox">
            <img src="~/img/bell2.gif" alt="">
            <span>+</span>
        </div>
    </header>
    <div id="container">
        <nav>
            <div id="menu">
                <div id="userinfo" class="text-desktop">
                    <img src="~/img/user圖片2.gif" alt="">
                    <span>登入身分:XXX</span>
                    <p>王XX你好</p>
                </div>
                <ul>
                    <li>
                        <h3>主頁</h3>
                        <ul class="text-desktop">
                            <a asp-controller="Index" asp-action="Index">
                                <li>
                                    <img src="~/img/房子圖片.png" alt="主頁圖示">
                                    主頁
                                </li>
                            </a>
                        </ul>
                    </li>
                    <li>
                        <h3>管理者設定</h3>
                        <ul class="text-desktop">
                            <a asp-controller="Setting" asp-action="Index">
                                <li>
                                    <img src="~/img/setting.gif" alt="初始設定圖示">
                                    初始設定
                                </li>
                            </a>
                        </ul>
                    </li>
                    <li>
                        <h3>表單申請區</h3>
                        <ul class="text-desktop">
                            <a asp-controller="Drafts" asp-action="Index">
                                <li>
                                    <img src="~/img/drafts.gif" alt="草稿區圖示">
                                    草稿區
                                </li>
                            </a>
                            <a asp-controller="Status" asp-action="Index">

                                <li>
                                    <img src="~/img/apply.gif" alt="表單申請狀態圖示">
                                    表單申請狀態
                                </li>
                            </a>
                        </ul>
                    </li>
                    <li>
                        <h3>表單簽核區</h3>
                        <ul class="text-desktop">
                            <a asp-controller="Sign" asp-action="Index">
                                <li>
                                    <img src="~/img/sign.gif" alt="待簽核表單圖示">
                                    待簽核表單
                                </li>
                            </a>
                        </ul>
                    </li>
                    <li>
                        <h3>操作</h3>
                        <ul class="text-desktop">
                            <a asp-controller="Logout" asp-action="Index">
                                <li class="menu-logout">
                                    @* &nbsp;&nbsp;&nbsp; *@
                                    <img src="~/img/logout.gif" alt="登出">
                                    <span>登出</span>

                                </li>
                            </a>
                        </ul>
                    </li>

                </ul>

                @* <button class="btn btn-short btn-logout"> 登出</button> *@

            </div>
            <footer class="footerClass">
                &copy; 2024 - SignFlow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </footer>
        </nav>

        <main>
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
