@{
    ViewData["Title"] = "WH表單簽核系統";
    ViewData["CustomCss"] = "~/css/index.css";
}


<div id="body-container">
    <div class="content text-desktop">
        <h2>首次使用請先進行初始值設定</h2>
        <div class="tips">
            <p>請按照以下步驟完成設定：</p>
            <ol>
                <li>點選 選單上方【初始設定】 </li>
                <li>依照流程提示進行設定</li>
            </ol>
        </div>
    </div>
</div>



<script src="~/js/index.js"></script>