@{
    ViewData["Title"] = "WH表單簽核系統";
    ViewData["CustomCss"] = "~/css/index.css";
}


<div id="body-container">
    <div id="content" class="text-desktop">
        <h2>首次使用請先進行初始值設定</h2>
        <div id="tips">
            <p>請按照以下步驟完成設定：</p>
            <ul>
                <li>1.點選選單上方初始設定</li>
                <li>2.依照流程提示進行設定</li>
            </ul>
        </div>
    </div>
</div>



<script src="~/js/index.js"></script>