@{
    Layout = null; // 禁用Layout
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WH表單簽核系統</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/loading.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/alert.css" asp-append-version="true" />

</head>

<body>
    <div id="loginContainer">
        <img src="~/img/logo5.gif" alt="" id="logo-img">
        <div id="accountContainer">
            <img src="~/img/user圖片.png" alt="">
            <input type="password" id="account-input" placeholder=" 請輸入帳號" class="field-input" maxlength="10">
        </div>
        <div id="passwordContainer">
            <img src="~/img/lock圖片.png" alt="">
            <input type="password" id="password-input" placeholder=" 請輸入密碼" class="field-input" maxlength="16">
            <label>
                <input type="checkbox" id="remember-checkbox" name="">
                記住我
            </label>
        </div>

        <div id="captchaContainer">
            <input type="text" id="captcha-input" placeholder="請輸入驗證碼" class="field-input">
            <img src="~/img/假驗證碼圖片.png" alt="驗證碼圖片" id="captcha-img">
            <img src="~/img/update.gif" alt="更新驗證碼圖片" id="update-captcha-img">
        </div>
        <button id="submit-btn" class="btn btn-long btn-submit">登入</button>

        <div id="ssoContainer">
            <p>或者使用以下登入:</p>
            <img src="~/img/google(G)圖片.png" alt="">
            <span>google</span>
        </div>
    </div>

    @* loading *@
    @* <div id="loading-overlay">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loasssding...</span>
        </div>
    </div> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/login.js" asp-append-version="true"></script>
    <script src="~/js/alert.js" asp-append-version="true"></script>
    <script src="~/js/loading.js" asp-append-version="true"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@

</body>

</html>