@{
    Layout = null; // 禁用Layout
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WH表單簽核系統</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
</head>

<body>
    <div id="loginContainer">
        <img src="~/img/logo5.gif" alt="">
        <div id="account">
            <img src="~/img/user圖片.png" alt="">
            <input type="password" placeholder=" 請輸入帳號" class="field-input">
        </div>
        <div id="password">
            <img src="~/img/lock圖片.png" alt="">
            <input type="password" placeholder=" 請輸入密碼" class="field-input">
            <label>
                <input type="checkbox" name="">
                記住我
            </label>
        </div>

        <div id="captcha">
            <input type="text" id="" placeholder=" 驗證碼" class="field-input">
            <img src="~/img/假驗證碼圖片.png" alt="">
        </div>

        <div id="sso">
            <p>或者使用以下登入:</p>
            <img src="~/img/google(G)圖片.png" alt="">
            <span>google</span>
        </div>
        <button class="btn btn-long btn-submit">登入</button>
    </div>

    <script src="~/js/login.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</body>

</html>