<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申請狀態</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/status.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    

    <script src="../js/status.js"></script>
</body>
</html>