html,
body {
  width: 100%;
  height: calc(100vh - 60px);
  /* 扣掉header */
  box-sizing: border-box;
}



/* 設定header大小 */
#headerContainer {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: var(--web-blue);
  box-sizing: border-box;
  display: flex;
  padding: 0px 10px 0px 0px;
  justify-content: flex-start;
  /* justify-content: space-between; */
  align-items: center;
  overflow: hidden;
}

/* 設定header-logo */
.header-logo {
  max-height: 70px;
  height: 17vw;
  cursor: pointer;
  object-fit: cover;
}


/* 鈴鐺背景 */
#bellbox {
  margin-left: auto;
  width: auto;
  height: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  /* 讓訊息顯示定位 */
}

#bellbox:hover {
  transform: scale(1.1);
}

/* 鈴鐺圖片 */
.bell-img {
  max-height: 55px;
  height: 10vw;

}

/* 鈴鐺訊息顯示區 */
.msg-count {
  font-size: 12px;
  position: absolute;
  right: 19px;
  top: 12px;
  color: #f7f7f7;
}


#navAndMain {
  width: 100%;
  height: 100%;
  display: flex;

}



/* 漢堡條選單 */
#navbarContainer {
  min-width: 40px;
  height: 70%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;

}

#navbarContainer:hover {
  background-color: #2589fd;
  border-radius: 5px;
}

#navbar,
#navbar::before,
#navbar::after {
  height: 5px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 5px;
}

/* 漢堡圖示的核心樣式 */
#navbar {
  /* 相對定位，用於偽元素的絕對定位 */
  position: relative;
}

/* 上方條 */
#navbar::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
}

/* 下方條 */
#navbar::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;

}



/* nav */
#navContainer {
  display: flex;
  width: 350px;
  /* min-width: 300px; */
  height: 100%;
  position: relative;
}


#navUserinfo {
  width: 95%;
  height: 100px;
  margin: 15px 0px;
  padding: 20px 30px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background-color: var(--web-blue);
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;

}

/* 指定user圖 > 不影響到鈴鐺img */
#navUserinfo>img {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;

}


#navMenu {
  /* min-width: 350px;
  width: 300px; */
  border-right: 2px var(--gray-footer) solid;
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  /* 啟用滾動條 */
}


/* 導覽列的三個分類選單 */
#categoryName {
  width: 100%;
  height: 100%;
  list-style: none;
  box-sizing: border-box;
  /* 避免第二層ul突出 */
}


#categoryName li h3 {
  font-weight: 700;
  /* 比正常稍微粗一點 */
  /* font-size: 1.1rem; */
  /* 可視需要調整字體大小 */
  color: var(--text-gray);
}

/* 導覽列的類別下各選單 */
#categoryName li ul {
  width: 100%;
  border-top: 1px var(--border-gray) solid;
  /* margin: 2px 0px 25px 0px; */



}

#categoryName li ul li {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 10px;
  cursor: pointer;
  padding: 2px 20px;
  height: 40px;

}

#categoryName ul li:hover,
#categoryName li ul li:active {
  border-radius: 10px;

}

#categoryName ul li:hover {
  background-color: var(--menu-hover);
  color: white;

}

#categoryName li ul li:active {
  background-color: var(--menu-active);
}

#categoryName li ul a {
  text-decoration: none;
  color: inherit;
}

#categoryName li ul li img {
  height: 25px;
}


#navFooter {
  height: 60px;
  position: absolute;
  bottom: 0px;
  font-size: 12px;
}





/* main */
#mainContainer {
  flex: 1;
  /* 彈性寬度 */
}

/* 開關漢堡條使用 隱藏menu
#navContainer.nav-hide {
  display: none;
}

#navContainer.nav-show {
  display: flex;
  width: 100%;
} */

@media screen and (max-width:768px) {
  #navContainer {
    display: none;
  }

}