body {
    background-image: url('../img/bgc.png');
    /* 圖片路徑 */
    background-size: cover;
    /* 使圖片覆蓋整個背景 */
    background-repeat: no-repeat;
    /* 防止圖片重複 */
    background-position: center;
    /* 圖片置中 */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 後代選擇器(空格)
只有當 #account 元素在 #loginContainer 
這個元素內時，樣式才會生效 */
#loginContainer,
#loginContainer #account,
#loginContainer #password,
#loginContainer #captcha {
    display: flex;
    /* 一起設定flex */
}

#loginContainer {
    width: 70%;
    max-width: 420px;
    height: 400px;
    background-color: var(--blue-sky);
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 10px;
    position: relative;
}

#loginContainer>img {
    width: 65%;
}

/* 設定每個 帳號/密碼區塊 
彈性寬度以外層loginContainer的75%調整  */
#loginContainer #account,
#loginContainer #password,
#loginContainer #captcha,
#loginContainer #sso {
    width: 65%;
    height: 35px;
    margin: 0px 0px 20px 0px;
    box-sizing: border-box;
}


img {
    display: block;
}


/* 讓小圖片定位 */
#account,
#password {
    position: relative;
    border-radius: 5px;
    background-color: #FFFFFF;
}

/* 設定input中的小圖片 */
#account>img,
#password>img {
    position: absolute;
    height: 20px;
    object-fit: contain;
    /* 保持圖片比例並填滿容器 */
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}

/* 設定input */
#account>input[type="text"],
#password>input[type="text"] {
    width: 100%;
    height: 35px;
    border: 2px var(--gray-slate) solid;
    box-sizing: border-box;
    padding-left: 30px;
    /* 放小圖片預留空間 */
}

/* 點選input框變色 */
#account>input[type="text"]:focus,
#password>input[type="text"]:focus,
#captcha>input[type="text"]:focus {
    border: 2px var(--submitbtn) solid;
    outline: none;
    /* 去掉默認的焦點輪廓 */
}

/* 記住我 position*/
#password label {
    position: absolute;
    bottom: -20px;
    right: 0px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: var(--text-gray);
    /* top: 0px; */

}



#captcha>input[type="text"] {
    width: 100px;
    height: 100%;
    border: 1px var(--gray-slate) solid;
    border-radius: 5px;

}

#captcha>img {
    margin: 0px 10px;
    width: 100px;
    height: 100%;
}





#sso {
    color: var(--text-gray);
}

#sso img {
    height: 30px;
    display: inline-block;
    /* 讓圖片與文字置於同一行 */
    vertical-align: middle;
    /* 讓圖片跟文字上下置中 */
}

#sso span {
    vertical-align: middle;
    /* 讓圖片跟文字上下置中 */
}

button {
    position: absolute;
    bottom: 20px;
}