body {
    background-image: url('../img/bgc.png');
    /* 圖片路徑 */
    background-size: cover;
    /* 使圖片覆蓋整個背景 */
    background-repeat: no-repeat;
    /* 防止圖片重複 */
    background-position: center;
    /* 圖片置中 */

    background: linear-gradient(135deg, #223a5e, #4a90e2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* 後代選擇器(空格)
只有當 #account 元素在 #loginContainer 
這個元素內時，樣式才會生效 */
#loginContainer,
#loginContainer #account,
#loginContainer #password {
    display: flex;
    /* 一起設定flex */
}

#loginContainer {
    width: 80%;
    max-width: 620px;
    height: auto;
    padding: 40px 60px;
    box-sizing: border-box;
    background-color: var(--web-blue);
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    border: 1px var(--gray-slate) solid;
}


/* logo */
#loginContainer>img {
    width: 100%;
    max-width: 315px;
    /* 限制圖片的最大寬度 */
    height: auto;
    /* 高度根據寬度自動調整，保持比例 */
    /* width: 100%; */
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;

}

/* 設定每個 帳號/密碼區塊 
彈性寬度以外層loginContainer的75%調整 
高度 設計跟input等高 */
#loginContainer #account,
#loginContainer #password,
#loginContainer #captcha,
#loginContainer #sso {
    width: 100%;
    height: 45px;
    margin: 0px 0px 20px 0px;
    box-sizing: border-box;
}


img {
    display: block;
}


/* 讓小圖片定位 */
#account,
#password {
    position: relative;
    border-radius: 5px;
    background-color: #FFFFFF;
}

/* 設定input中的小圖片 */
#account>img,
#password>img {
    position: absolute;
    height: 25px;
    object-fit: contain;
    /* 保持圖片比例並填滿容器 */
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}

/* 設定input  帳號和密碼*/
input[type="password"] {
    padding-left: 40px;
    /* 放小圖片預留空間 */
}

/* 驗證碼 */
input[type="text"] {
    flex: 1;
}


/* 記住我 position*/
#password label {
    position: absolute;
    bottom: -20px;
    right: 0px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    /* top: 0px; */

}

#captcha {
    /* margin-top: 100px; */
    position: relative;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}

#captcha-img,
#update-captcha-img {
    width: auto;
    position: absolute;
}

#captcha-img {
    height: 35px;
    top: 5px;
    right: 40px;
    border: 1px var(--border-gray) solid;
    border-radius: 5px;

}

#update-captcha-img {
    height: 100%;
    top: 0px;
    right: 0px;
    border-left: 1px var(--border-gray) solid;
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;

}






#loginContainer #sso {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 12px;
}

#sso img {
    height: 20px;
    display: inline-block;
    /* 讓圖片與文字置於同一行 */
    vertical-align: middle;
    /* 讓圖片跟文字上下置中 */
}

#sso span {
    vertical-align: middle;
    /* 讓圖片跟文字上下置中 */
}

/* button {
    position: fixed;
    bottom: 20px;

} */
@media screen and (max-width:640px) {
    #loginContainer {
        width: 95%;
        padding: 10px 10px;
        /* background-color: #FFFFFF; */
    }
}