/*確保內容不擴張
高度100% 讓內容高度填滿視窗*/
html,
body {
    box-sizing: border-box;
    height: 100%;
    font-family: 微軟正黑體, 新細明體, serif, sans-serif, cursive;

}

/*定義共用色號
--blue-sky 淡藍色 登入頁輸入區背景
--blue-viole 藍紫色
--gray-slate 石灰色

--text-gray 文字灰色
*/
:root {
    --blue-sky: #EAF7FF;
    --blue-viole: rgba(57, 121, 193, 0.4);

    --gray-slate: #B5AEAE;

    --border-gray: #B5AEAE;
    --text-gray: #827D7D;
    /*按鈕*/
    /* --submitbtn: #0B78FF; */
    --submitbtn: #007bff;
    --submitbtn2: #0056b3;
    --logoutbtn: #FF4C4C;
    --logoutbtn2: #d72626;
    /* --secondary-bg-color: #FFD700; */
    /* --text-color: #333333; */
    --gray-placeholder: #D1C8C8;
    --gray-footer: #223a5e;


    --menu-blue: #e8ecf5;
    --menu-hover: #2589fd;
    --menu-active: #1780f7;
    --table-title-blue: #4669ab;
    --web-blue: #223a5e;
}

.btn {
    color: white;
    /* 白色文字 */
    border-radius: 5px;
    border: none;
    /* 去掉邊框 */
    font-weight: 600;
    cursor: pointer;
    /* 當滑鼠懸停時，顯示指標 */
    transition: background-color 0.3s ease;
    /* 添加過渡效果 */
}

.btn-submit {
    background-color: var(--submitbtn);
}

.btn-submit:hover {
    background-color: var(--submitbtn2);
}


.btn-logout {
    background-color: var(--logoutbtn);
}

.btn-logout:hover {
    background-color: var(--logoutbtn2);
}

.btn-short {
    font-size: 14px;
    width: 65px;
    height: 30px;
}

.btn-long {
    font-size: 16px;
    width: 65%;
    height: 35px;
}

input::placeholder {
    color: var(--gray-placeholder);
    font-weight: 500;
    /* #B5AEAE 調淡為半透明 */
}

input {
    border-radius: 5px;
}

.menutitle-desktop {
    font-size: large;
}

.menu-logout {
    padding: 0%;
    border: 1px #D1C8C8 solid;
    border-radius: 5px;
    color: rgb(207, 7, 7);
    width: 90%;
    /* display: flex;
    justify-content: flex-start; */
    box-sizing: border-box;
    margin: 5px;
    /* padding-left: 30px; */
}

.menu-logout img,
.menu-logout span {
    /* margin-left: ; */
    transform: translateX(45px);
}

.footerClass {
    width: 100%;
    height: 55px;
    background-color: var(--gray-footer);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-desktop {
    font-size: 14px;
    font-weight: bold;

}

.text-tablet {
    font-size: 18px;
}

.text-phone {
    font-size: 20px;
}