/*確保內容不擴張
高度100% 讓內容高度填滿視窗*/
html,
body {
    box-sizing: border-box;
    height: 100%;
    font-family: 微軟正黑體, 新細明體, serif, sans-serif, cursive;

}

/*定義共用色號
--blue-sky 淡藍色 登入頁輸入區背景
--blue-viole 藍紫色
--gray-slate 石灰色

--text-gray 文字灰色
*/
:root {
    --blue-sky: #EAF7FF;
    --blue-viole: rgba(57, 121, 193, 0.4);

    --gray-slate: #B5AEAE;

    --border-gray: #B5AEAE;
    --text-gray: #827D7D;
    /*按鈕*/
    /* --submitbtn: #0B78FF; */
    --submitbtn: #007bff;
    --submitbtn2: #339dff;
    --logoutbtn: #FF4C4C;
    --logoutbtn2: #d72626;
    /* --secondary-bg-color: #FFD700; */
    /* --text-color: #333333; */
    --gray-placeholder: #D1C8C8;
    --gray-footer: #223a5e;


    --menu-blue: #e8ecf5;
    --menu-hover: #2589fd;
    --menu-active: #1780f7;
    --table-title-blue: #4669ab;
    --web-blue: #223a5e;


    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-xxl: 1440px;
}

.min12max48 {
    --min-size: 12;
    --max-size: 48;
    --font-size: calc((var(--min-size) * 1px) + (var(--max-size) - var(--min-size)) * ((100cqw - 320px) / (1920 - 320)));
    font-size: clamp(var(--min-size) * 1px, var(--font-size), var(--max-size) * 1px);
}

.btn {
    color: white;
    /* 白色文字 */
    border-radius: 5px;
    border: none;
    /* 去掉邊框 */
    font-weight: 600;
    cursor: pointer;
    /* 當滑鼠懸停時，顯示指標 */
    transition: background-color 0.3s ease;
    /* 添加過渡效果 */
}

.btn-submit {
    background-color: var(--submitbtn);
}

.btn-submit:hover {
    background-color: var(--submitbtn2);

}

.btn-submit:active {
    background-color: var(--submitbtn);
    color: var(--text-gray);
}

.btn-logout {
    background-color: var(--logoutbtn);
}

.btn-logout:hover {
    background-color: var(--logoutbtn2);
}

.btn-short {
    font-size: 14px;
    width: 65px;
    height: 30px;
}

.btn-long {
    font-size: 16px;
    width: 100%;
    height: 35px;
}


input::placeholder {
    color: var(--gray-placeholder);
    font-weight: 500;
    /* #B5AEAE 調淡為半透明 */
}

/* 點選input框變色 */
input:focus {
    border: 2px var(--submitbtn) solid;
    outline: none;
    /* 去掉默認的焦點輪廓 */
}

/* 設計input */
.field-input {
    width: 100%;
    min-width: 100px;
    height: 45px;
    border: 2px var(--gray-slate) solid;
    box-sizing: border-box;
    color: var(--text-gray);
    border-radius: 5px;
    font-size: 14px;
    padding: 11px;
    font-size: clamp(14px, 5vw, 16px);

}




.menutitle-desktop {
    font-size: large;
}

.menu-logout {
    padding: 0%;
    border: 1px #D1C8C8 solid;
    border-radius: 5px;
    color: rgb(207, 7, 7);
    width: 90%;
    /* display: flex;
    justify-content: flex-start; */
    box-sizing: border-box;
    margin: 5px;
    /* padding-left: 30px; */
}

.menu-logout img,
.menu-logout span {
    /* margin-left: ; */
    transform: translateX(45px);
}

.footerClass {
    width: 100%;
    height: 55px;
    background-color: var(--gray-footer);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-desktop {
    font-size: 20px;
    font-weight: bold;
    font-size: clamp(16px, 5vw, 20px);
}

.text-tablet {
    font-size: 18px;
}

.text-phone {
    font-size: 20px;
}

/* loading */
#loading-overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明黑色背景 */
    display: none;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    z-index: 1050;
    /* 確保在其他元素上方 */
}